@font-face{
    font-family:'Poppins';
    src:url(../../resources/fonts/Poppins.otf);
    font-style:normal;
    font-weight:150;
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #00c292 !important; 
    overflow-x:hidden;
    position:relative;
    font-size: 1.5rem !important;
}
a, p {
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none !important;
}
h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
h1, h2{
  font-family: 'Poppins', sans-serif; 
  color:#24252E;
}
.btn{
	border-radius:0px !important;
}
.error-text{
	color: #F44336;
}
.counter{
	color: #00c292;
}
.error-page-area{
    text-align:center;
    background-color:#00c292;
}
.error-page-area:before{
    content:'';
    height:100vh;
    width:1px;
}
.error-page-wrap{
	margin-top: 14% !important;
    max-width:500px;
    padding:20px 15px !important;
    width:80%;
    background-color: #ffff;
    position:relative;
    margin: 0 auto;
}
.error-page-wrap p{
	font-size: 1.2em;
}